### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# PLY
parser.out

### SublimeText ###
# workspace files are user-specific
*.sublime-workspace
